{
  "jsc": {
    "externalHelpers": true,
    "keepClassNames": true,
    "parser": {
      "decorators": true,
      "preserveAllComments": true,
      "syntax": "typescript"
    },
    "paths": {
      "~/*": [
        "src/*"
      ]
    },
    "target": "es2019",
    "transform": {
      "decoratorMetadata": true,
      "legacyDecorator": true
    }
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true
}